In [1]:
%load_ext sql

import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql+pymysql://root:my-secret-pw@localhost
%sql create database if not exists spj
%sql mysql+pymysql://root:my-secret-pw@localhost/spj

 * mysql+pymysql://root:***@localhost
1 rows affected.

In [2]:
%%sql

set @@foreign_key_checks=0;
drop table if exists S;
drop table if exists P;
drop table if exists J;
drop table if exists SPJ;
create table S(sno varchar(8), sname varchar(20), status integer, city varchar(10), primary key(sno));
create table P(pno varchar(8), pname varchar(20), color varchar(10), weight integer, city varchar(10), primary key(pno));
create table J(jno varchar(8), jname varchar(20), city varchar(10), primary key(jno));
create table SPJ(sno varchar(8), pno varchar(8), jno varchar(8), qty integer, price integer, primary key(sno, pno, jno), foreign key(sno) references S(sno), foreign key(pno) references P(pno), foreign key(jno) references J(jno));
set @@foreign_key_checks=1;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/spj
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [3]:
import os
conn = pymysql.connect(host='127.0.0.1', port=3306, user='root',password='my-secret-pw', db='spj')
c=conn.cursor()

In [4]:
import csv
fpath = '/home/zhangsan/data'
files = os.listdir(fpath)
csvs = map(lambda f: os.path.join(fpath, f),
           filter(lambda f: f.endswith('.csv'), files))
csvs = list(csvs)
print(csvs)
c.execute('SET FOREIGN_KEY_CHECKS = 0')
for fpath in csvs:
    print(fpath)
    table = os.path.splitext(os.path.basename(fpath))[0]
    cr = csv.reader(open(fpath), delimiter=',')
    header = next(cr)
    header = ['`{}`'.format(h) for h in header]
    sqltemp = 'insert into {}({}) value({})'.format(
        table, ','.join(header), ('%s,'*len(header))[:-1])
    for ri, row in enumerate(cr):
        print(ri, row)
        try:
            row = [None if r == '' else r for r in row]
            c.execute(sqltemp, row)
        except Exception as e:
            print('fpath:{} row:{}'.format(fpath, ri))
            print(row)
            raise e
    print(fpath, 'loaded into mysql')
c.execute('SET FOREIGN_KEY_CHECKS = 1')
conn.commit()

['/home/zhangsan/data/SPJ.csv', '/home/zhangsan/data/J.csv', '/home/zhangsan/data/S.csv', '/home/zhangsan/data/P.csv']
/home/zhangsan/data/SPJ.csv
0 ['S1', 'P1', 'J1', '200', '100']
1 ['S1', 'P1', 'J4', '700', '100']
2 ['S2', 'P3', 'J1', '400', '10']
3 ['S2', 'P3', 'J2', '200', '10']
4 ['S2', 'P3', 'J3', '200', '12']
5 ['S2', 'P3', 'J4', '500', '10']
6 ['S2', 'P3', 'J5', '600', '20']
7 ['S2', 'P3', 'J6', '400', '10']
8 ['S2', 'P3', 'J7', '800', '8']
9 ['S2', 'P5', 'J2', '100', '10']
10 ['S3', 'P3', 'J1', '200', '20']
11 ['S3', 'P4', 'J2', '500', '18']
12 ['S4', 'P6', 'J3', '300', '30']
13 ['S4', 'P6', 'J7', '300', '38']
14 ['S5', 'P2', 'J2', '200', '40']
15 ['S5', 'P2', 'J4', '100', '45']
16 ['S5', 'P5', 'J5', '500', '30']
17 ['S5', 'P5', 'J7', '100', '30']
18 ['S5', 'P6', 'J2', '200', '30']
19 ['S5', 'P1', 'J4', '100', '30']
20 ['S5', 'P3', 'J4', '200', '30']
21 ['S5', 'P4', 'J4', '800', '28']
22 ['S5', 'P5', 'J4', '400', '40']
23 ['S5', 'P6', 'J4', '500', '29']
/home/zhangsan/data/SPJ.csv loaded into mysql
/home/zhangsan/data/J.csv
0 ['J1', 'Sorter', 'Paris']
1 ['J2', 'Punch', 'Rome']
2 ['J3', 'Reader', 'Athens']
3 ['J4', 'Console', 'Athens']
4 ['J5', 'Collator', 'London']
5 ['J6', 'Terminal', 'Oslo']
6 ['J7', 'Tape', 'London']
/home/zhangsan/data/J.csv loaded into mysql
/home/zhangsan/data/S.csv
0 ['S1', 'Smith', '20', 'London']
1 ['S2', 'Jones', '10', 'Paris']
2 ['S3', 'Blake', '30', 'Paris']
3 ['S4', 'Clark', '20', 'London']
4 ['S5', 'Adams', '30', 'Athens']
/home/zhangsan/data/S.csv loaded into mysql
/home/zhangsan/data/P.csv
0 ['P1', 'Nut', '红色', '12', 'London']
1 ['P2', 'Bolt', '绿色', '17', 'Paris']
2 ['P3', 'Screw', '蓝色', '17', 'Rome']
3 ['P4', 'Screw', '红色', '14', 'London']
4 ['P5', 'Cam', '蓝色', '12', 'Paris']
5 ['P6', 'Cog', '红色', '19', 'London']
/home/zhangsan/data/P.csv loaded into mysql

供应商数据库SPJ中有三张表：

- S(SNO, SNAME, STATUS, CITY)
- P(PNO, PNAME, COLOR, WEIGHT, CITY)
- J(JNO, JNAME,CITY)
- SPJ(SNO, PNO, JNO, QTY, PRICE)

其中，

- S表示供应商，各属性依次为供应商号，供应商名，供应商状态值，供应商所在城市；
- P表示零件，各属性依次为零件号，零件名，零件颜色，零件重量，零件存放的城市；
- J表示工程，各属性依次为工程号，工程名，工程所在城市；
- SPJ表示供货关系，各属性依次为供应商号，零件号，工程号，供货数量，单价。

上面已经导入了表，下面完成几项查询

1.  求没有供应零件号为P1和P2两种零件的供应商姓名

In [5]:
query="""
    select sname 
    from S
    where sno not in(
        select sno
        from SPJ
        where pno = 'P1' or pno = 'P2'
    );
"""

%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/spj
3 rows affected.

[('Jones',), ('Blake',), ('Clark',)]

2. 列出所有供应商的信息，包括供应商姓名、所供应的零件名（没有供应零件的供应商也要列出，最后结果中不要出现重复元组）

In [6]:
query="""
    select distinct S.sname, P.pname
    from S left join 
    (SPJ inner join P on SPJ.pno = P.pno) 
    on S.sno = SPJ.sno;
"""

%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/spj
10 rows affected.

[('Smith', 'Nut'),
 ('Jones', 'Screw'),
 ('Jones', 'Cam'),
 ('Blake', 'Screw'),
 ('Clark', 'Cog'),
 ('Adams', 'Nut'),
 ('Adams', 'Bolt'),
 ('Adams', 'Screw'),
 ('Adams', 'Cam'),
 ('Adams', 'Cog')]

3. 求只向与自己位于不同城市的工程供应零件的供应商姓名。

In [7]:
query="""
    select sname
    from S
    where sno not in
    (select S.sno
    from S, SPJ, J
    where S.sno = SPJ.sno
    and SPJ.jno = J.jno
    and S.city = J.city
    )
    and sno in
    (select S.sno
    from S, SPJ
    where S.sno = SPJ.sno
    );
"""

%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/spj
1 rows affected.

[('Smith',)]

4. 求只向与自己位于相同城市的工程供应零件的供应商姓名。

In [8]:
query="""
     select sname
    from S
    where sno in
    (select S.sno
    from S, SPJ
    where S.sno = SPJ.sno 
    )
    and sno not in
    (select S.sno
    from S, SPJ, J
    where S.sno = SPJ.sno 
    and SPJ.jno = J.jno 
    and S.city != J.city
    );
"""

%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/spj
0 rows affected.

[]

5.  求供应了所有零件的供应商姓名

In [9]:
#不存在任何一个零件，该供应商没有供应
query="""
    select sname
    from S
    where not exists
        (select pno
        from P
        where not exists
            (select *
            from SPJ
            where SPJ.sno = S.sno 
            and SPJ.pno = P.pno
            )
        );
"""

%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/spj
1 rows affected.

[('Adams',)]

6. 求供应了所有红色零件的供应商姓名。

In [10]:
query="""
    select sname
    from S
    where not exists
        (select *
        from 
            (select pno 
            from P 
            where P.color = '红色') as P1
        where not exists
            (select *
            from SPJ
            where S.sno = SPJ.sno 
            and P1.pno = SPJ.pno
            )
        );
"""

%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/spj
1 rows affected.

[('Adams',)]

7. 列出每个城市的工程所使用的零件总的数量

In [11]:
query="""
    select city,sum(qty) 
    from J join SPJ using(jno)
    group by city;
"""

%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/spj
5 rows affected.

[('Paris', Decimal('800')),
 ('Athens', Decimal('3800')),
 ('Rome', Decimal('1200')),
 ('London', Decimal('2300')),
 ('Oslo', Decimal('400'))]

8.  按零件数量总和的降序列出每项工程所使用的每种红色零件的总的金额（工程可以向不同的供应商购买同一零件，总金额＝单价*供货数量）。输出工程号、零件号、总金额。

In [12]:
query="""
    select jno,pno,sum(qty*price)
    from SPJ
    where pno in (select pno from P where P.color = '红色') 
    group by jno,pno
    order by sum(qty) desc;
    
"""

%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/spj
8 rows affected.

[('J4', 'P1', Decimal('73000')),
 ('J4', 'P4', Decimal('22400')),
 ('J2', 'P4', Decimal('9000')),
 ('J4', 'P6', Decimal('14500')),
 ('J3', 'P6', Decimal('9000')),
 ('J7', 'P6', Decimal('11400')),
 ('J1', 'P1', Decimal('20000')),
 ('J2', 'P6', Decimal('6000'))]

9. 求供应零件数量最多的供应商姓名。

In [13]:
query="""
    select sname 
    from S join SPJ using(sno)
    group by sno
    having
    sum(qty) >= all(
    select sum(qty)
    from SPJ
    group by sno);
    
"""

%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/spj
1 rows affected.

[('Jones',)]

10. 求每个城市中供应零件数量最多的供应商姓名。

In [40]:
#citysum表示每个城市每个供应商的零件总数,
#从citysum中选出每个城市供应最多的供应商sno
query="""
    select tmp2.city,sname
    from
    (select sno,city
    from
        (select city,sno,sum(qty) gerner
        from SPJ join J using(jno)
        group by city,sno)as tmp
    where tmp.gerner=
        (select max(gerner)
        from (select city,sno,sum(qty) gerner
        from SPJ join J using(jno)
        group by city,sno)as tmp1
        where tmp.city=tmp1.city
        group by city
        )
    )as tmp2 join S using(sno)
    ;
"""

%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/spj
5 rows affected.

[('Paris', 'Jones'),
 ('Oslo', 'Jones'),
 ('London', 'Jones'),
 ('Rome', 'Blake'),
 ('Athens', 'Adams')]

11. 列出恰好供应了相同零件的供应商对。

注意：输出的时候，供应商对小号在前，相等不输出，要去重，都没有供应零件也算供应了相同零件。输出形式：(SNO,SNO)

In [61]:
query="""
    select distinct tmp1.sno,tmp2.sno
    from
    (
    (select pno,sno
    from SPJ
    group by pno,sno)as tmp1
    join
    (select pno,sno
    from SPJ
    group by pno,sno)as tmp2
    using(pno)
    )
    where tmp1.sno!=tmp2.sno
    and tmp1.sno<tmp2.sno
    ;
"""

%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/spj
5 rows affected.

[('S1', 'S5'), ('S2', 'S3'), ('S2', 'S5'), ('S3', 'S5'), ('S4', 'S5')]

In [62]:
#第十一题中各零件对应的供应商
query="""
    select pno,sno
    from SPJ
    group by pno,sno
    ;
"""

%sql $query

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost/spj
12 rows affected.

[('P1', 'S1'),
 ('P1', 'S5'),
 ('P2', 'S5'),
 ('P3', 'S2'),
 ('P3', 'S3'),
 ('P3', 'S5'),
 ('P4', 'S3'),
 ('P4', 'S5'),
 ('P5', 'S2'),
 ('P5', 'S5'),
 ('P6', 'S4'),
 ('P6', 'S5')]